:host{
}

button {
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  user-select: none;

  line-height: 2.0em;
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  background: none;
}